<div
  class="art inline-block relative cursor m2 ff-overlock"
  style="font-family: {{fontFamily}}">
  <div class=" absolute top-0 left-0 flex flex-center full-height col col-12 px2 z2">
    <span
      class="shadow center f1 white m0 col col-12"
      style="color: {{fontColor}}
    ">{{title}}</span>
  </div>
  <img
    class=""
    style="filter: {{filter}}"
    src="{{url}}"
    alt="a randomly selected picture">
</div>
